.waiting-room {
  font-family: "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.text-stuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}