.challenge-modal {
  font-family: "Calibri", sans-serif;
  padding: 45px 35px;
}

.challenge-modal h2 {
  margin: 0px 0px 20px;
}

.challenge-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-modal button {
  width: 150px;
  height: 30px;
  margin: 20px 0px 0px;
  background: none;
  border-radius: 25px;
}

