.challenge-page {
  font-family: "Calibri", sans-serif;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;
}

.challenge-page h2 {
  margin: 0px;
}

.challenge-requests {
  min-width: 210px;
}

.challenge-requests h2 {
  padding: 15px 0px 0px;
  border-bottom: 1px solid;
}

.challenge-requests ul {
  padding: 0px 0px 0px 20px;
}

.challenge-requests li {
  list-style-type: none;
}

.button-box {
  display: flex;
  gap: 5px;
  padding: 0px 0px 5px 5px;
}