.user-dash {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-family: "Calibri", sans-serif;
}

.user-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px 0px;
}

.user-dash a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  color: #91BEAB;
  font-size: 23px;
}

.in-link {
  background-image: url('../../../public/images/button_background.png');
}

.add-link {
  background-image: url('../../../public/images/button_background.png');
  background-position: top;
}

.user-dash a:hover {
  transform: translateY(-5px)
}