.edit-user-modal {
  font-family: "Calibri", sans-serif;
  padding: 45px 35px;
}

.edit-user-modal h1 {
  margin: 0px 0px 20px;
}

.edit-user-modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-user-modal input {
  margin: 0px 0px 0px 5px
}

.edit-user-modal button {
  width: 150px;
  height: 30px;
  margin: 20px 0px 0px;
  background: none;
  border-radius: 25px;
  align-self: center;
}