.user-page {
  font-family: "Calibri", sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.user-page h1 {
  margin: 0px;
  padding: 0px 0px 3px 0px;
  max-width: 300px;
  border-bottom: 1px solid;
}

.user-page p {
  margin: 16px 0px 16px 16px
}

.button-box button {
  align-items: center;
  background-clip: padding-box;
  background-color: #49fcac;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 3px 5px 1px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-box button:hover,
.button-box button:focus {
  background-color: #2f9e6c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-box button:hover {
  transform: translateY(-1px);
}

.button-box button:active {
  background-color: #1d6142;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}