.login-form {
  font-family: "Calibri", sans-serif;
  padding: 45px 35px;
}

.login-form h1 {
  margin: 0px 0px 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  margin: 0px 0px 0px 5px
}

.login-form button {
  width: 150px;
  height: 30px;
  margin: 20px 0px 0px;
  background: none;
  border-radius: 25px;
  align-self: center;
}