.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px 9px;
  border-bottom: 1px solid #5F9D56;
  font-family: "Calibri", sans-serif;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.home-img {
  height: 50px;
  cursor: pointer;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  padding: 0px;
  font-size: 38px;
  background-color: #5F9D56;
  color: #91AEAB;
  cursor: pointer;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  right: 25px;
  text-decoration: none;
  background-color: #91AEAB;
  border-radius: 10px;
  list-style-type: none;
  padding: 15px;
}

.profile-dropdown button {
  align-items: center;
  background-clip: padding-box;
  background-color: #49fcac;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 3px 5px 1px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.profile-dropdown button:hover,
.profile-dropdown button:focus {
  background-color: #2f9e6c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.profile-dropdown button:hover {
  transform: translateY(-1px);
}

.profile-dropdown button:active {
  background-color: #1d6142;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.drop-down-items {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-info {
  padding: 0px 0px 2px;
  border-bottom: 1px solid;
}

.user-space {
  padding: 2px 0px;
  border-bottom: 1px solid; 
}

.main-nav {
  padding: 2px 0px;
  border-bottom: 1px solid;
}

.logout {
  display: flex;
  justify-content: center;
  padding: 4px 0px 0px;
}